$navColor: #333333;
$navFontColor: #999;

$breakpoints: (
    'phone': 576px,
    'tablet': 1024px,
    'desktop': 1280px
) !default;

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints , $breakpoint) {
        @if $breakpoint == 'phone' {
            @media (max-width: map-get($breakpoints, $breakpoint)){
                @content;
            }
        }
        @media (min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
    @else {
        @warn "No breakpoint called `#{$breakpoint}`";
    }
}

@include breakpoint('phone'){
    .sideNav {
        display: none;
    }
}

@include breakpoint('tablet'){
    .sideNav {
        position: fixed;
        display: flex;
        width: 300px;
        height: 100vh;
        z-index: 12;
        top: 0;
        left: 0;
        padding: 0 16px 0 16px;
        background-color: $navColor;
        color: #DDDDDD;
    }    
}


.navElements{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}
.name {
    font-family: 'Bebas Neue';
    font-size: 3rem;
    text-align: right;
    margin: 0;
    margin-top: 20px
}
.brand{
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    h3 {
        letter-spacing: normal;
        font-family: 'Lora'
    }
}
.brand img {
    width: 100%;
}
.socials {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

.social {
    padding: 0 10px;
    text-decoration: none;
    color: #0072b1;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        color: #595959;
    }
} 

.topInfo h3 {
    margin: 0;
}


.sideNav h3 {
    margin-top: 4px;
}

.navList {
    list-style: none;
    text-align: right;
    font-size: 2em;
    li a {
        font-style: none;
        letter-spacing: 2px;
        &:hover {
            text-decoration: underline solid #FFFFFF;
            color: #FFFFFF;
        }
    }
}

.projectsLink {
    text-decoration: underline solid transparent;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.skillsetLink {
    text-decoration: underline solid transparent;
    cursor: pointer;
    transition: all .4s ease-in-out;
}


.contactLink {
    text-decoration: underline solid transparent;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.activeLink {
    text-decoration: underline solid #FFF;
    color: #FFF;
    font-weight: bold;
}